main{
    height: 100vh;
}

.sidebar-pc{
    border-right: 1px solid black;
    width: 10vw;
    min-width: 100px; 
    height: 100%;
}

img{
    width: 100%;
}


#ul-sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sideBar > #mobileBtn {
    display: none !important;
}

@media screen and (max-width: 600px) {

    #sideBar{
        border: none;
        width: 10vw;
        min-width: 100px;
    }
    #ul-sidebar{
        transform: translateX(-100%);
        transition: 0.25s all;
    }

    #sidebar-hr{
        display: none;
    }

    #sideBar > #pcBtn {
        display: none !important;
    }

    #sideBar > #mobileBtn {
        display: initial !important;
    }
}

.mobileSidebarDisplay {
    display: initial !important;
}
